* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 13px;
}

#messages {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
